<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etiqueta de Produto</title>
    {{ default_css() }}

    {% set colunas = 3 %}

    {% set larguraImpresao = 150 %} {# tamanho em mm #}
    {% set espacamentoEtiquetasLaterais = 3 %} {# tamanho em mm #}

    {% set larguraEtiqueta = 33 %} {# tamanho em mm #}
    {% set alturaEtiqueta = 22 %} {# tamanho em mm #}

    {% set tamanhoTextoCodigoProduto = 7 %} {# Tamanho em Pixels #}
    {% set tamanhoTextoNomeProduto = 7 %} {# Tamanho em Pixels #}
    {% set tamanhoTextoDerivacaoProduto = 7 %} {# Tamanho em Pixels #}



    <style>
        @page {
            size: {{ larguraImpresao }}mm auto;
            margin: 0 3mm;
        }

        body {
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: flex-start;
            width: {{ larguraImpresao }}mm; /* Largura fixa da impressão */
        }

        .etiqueta-container {
            display: grid;
            grid-template-columns: repeat({{ colunas }}, 1fr);
            gap: 0 {{ espacamentoEtiquetasLaterais }}mm; /* Espaçamento entre etiquetas */
            width: {{ larguraImpresao }}mm; /* Mantém a largura fixa */
            margin: 0 3mm;
        }

        .etiqueta {
            width: {{ larguraEtiqueta }}mm; /* Largura da etiqueta */
            height: {{ alturaEtiqueta }}mm; /* Altura da etiqueta */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }


        .barcode img {
            max-width: 100%;
        }
    </style>
</head>
<body>

<div class="etiqueta-container" style="grid-template-columns: repeat({{ colunas }}, 1fr);">
    {% for produto in produtos %}
        {% for i in 0..produto.quantidade -1 %}
            <div class="etiqueta">
                <strong style="font-size: {{ tamanhoTextoCodigoProduto }}px;">{{ produto.codigo }}</strong>
                <!-- Nome do produto com word-wrap -->
                <div style="
                    font-size: {{ tamanhoTextoNomeProduto }}px;
                    max-width: 100%;
                    overflow-wrap: break-word;
                    word-break: break-word;
                    hyphens: auto;
                ">{{ produto.nome }}</div>
                
                <!-- Derivação com word-wrap -->
                <div style="
                    font-size: {{ tamanhoTextoDerivacaoProduto }}px;
                    max-width: 100%;
                    overflow-wrap: break-word;
                    word-break: break-word;
                    hyphens: auto;
                ">{{ produto.nomeDerivacao }}</div>
            </div>
        {% endfor %}
    {% endfor %}
</div>
</body>
</html>