<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etiqueta de Produto</title>
    {{ default_css() }}

    {% set colunas = 2 %}

    {# Página #}
    {% set larguraImpresao = 105 %} {# mm #}
    {% set margemLateral = 3 %} {# mm #}

    {# Etiqueta #}
    {% set larguraEtiqueta = 48 %} {# mm #}
    {% set alturaEtiqueta = 72 %} {# mm #}
    {% set gapEtiquetas = 3 %} {# mm #}

    {# Textos #}
    {% set tamanhoTextoCodigoProduto = 7 %}
    {% set tamanhoTextoNomeProduto = 7 %}
    {% set tamanhoTextoDerivacaoProduto = 7 %}

    <style>
        @page {
            size: 105mm auto;
            margin: 0;
        }

        body {
            margin: 0;
            padding: 0;
            width: 105mm;
            display: block;
        }

        .etiqueta-container {
            display: grid;
            grid-template-columns: 48mm 48mm;
            gap: 3mm 3mm;
            width: 99mm; 
            margin-left: 3mm; 
        }

        .etiqueta {
            width: 48mm;
            height: 72mm;
            display: grid;
            grid-template-rows: 36mm 18mm 18mm;
            box-sizing: border-box;
            padding: 2mm;
            overflow: hidden;
            border: 0.2mm dashed red;
        }

        .secao {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start; 
            text-align: left;
            overflow: hidden;
            border: 0.2mm dashed blue;
        }

        .secao-barcode {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .barcode {
            width: 100%;
            text-align: center;
        }

        .barcode img {
            width: 100%; 
            max-height: 18mm;
            min-height: 14mm;
            border: 0.2mm dotted green;
        }
    </style>

</head>
<body>

<div class="etiqueta-container">
    {% for produto in produtos %}
        {% for i in 0..produto.quantidade -1 %}
            <div class="etiqueta">

                <!-- Sessão 1  -->
                <div class="secao">
                    <p>ZAZOU</p>
                    <strong style="font-size: 7px;">
                        {{ produto.codigo }}
                    </strong>

                    <div style="
                        font-size: 7px;
                        max-width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;">
                        {{ produto.nome }}
                    </div>

                    <div style="
                        font-size: 7px;
                        max-width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;">
                        {{ produto.nomeDerivacao }}
                    </div>
                </div>

                <!-- Sessão 2 -->
                <div class="secao secao-barcode">
                    <div class="barcode">
                        <img src="{{ barcode_src(produto.codigo) }}" alt="Código de barras">
                    </div>
                </div>

                <!-- Sessão 3 -->
                <div class="secao">
                    <!-- espaço livre / informações futuras -->
                    <p> Teste de impressão </p>
                </div>

            </div>
        {% endfor %}
    {% endfor %}
</div>

</body>
</html>