<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etiqueta de Produto</title>
    {{ default_css() }}

    {% set colunas = 2 %}

    {# Página #}
    {% set larguraImpresao = 105 %} {# mm #}
    {% set margemLateral = 3 %} {# mm #}

    {# Etiqueta #}
    {% set larguraEtiqueta = 48 %} {# mm #}
    {% set alturaEtiqueta = 72 %} {# mm #}
    {% set gapEtiquetas = 3 %} {# mm #}

    {# Textos #}
    {% set tamanhoTextoCodigoProduto = 10 %}
    {% set tamanhoTextoNomeProduto = 10 %}
    {% set tamanhoTextoDerivacaoProduto = 10 %}

    <style>
        @page {
            size: 105mm auto;
            margin: 0;
        }

        body {
            margin: 0;
            padding: 0;
            width: 105mm;
            display: block;
        }

        .etiqueta-container {
            display: grid;
            grid-template-columns: 48mm 48mm;
            gap: 3mm 3mm;
            width: 99mm; 
            margin-left: 3mm; 
        }

        .etiqueta {
            width: 48mm;
            height: 72mm;
            display: grid;
            grid-template-rows: 36mm 22mm 14mm;
            box-sizing: border-box;
            padding: 2mm;
            overflow: hidden;
            position: relative; /*Novo*/
            /*Borda para visualização
            border: 0.2mm dashed red;*/
        }

        .secao {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start; 
            text-align: left;
            overflow: hidden;
            /*Borda para visualização
            border: 0.2mm dashed blue;*/
        }

        .secao-barcode {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .barcode {
            width: 100%;
            text-align: center;
        }

        .barcode img {
            width: 100%; 
            max-height: 18mm;
            min-height: 14mm;
            /*Borda para visualização
            border: 0.2mm dotted green;*/
        }

    </style>

</head>
<body>

<div class="etiqueta-container">
    {% for produto in produtos %}
        {% for i in 0..produto.quantidade -1 %}
            <div class="etiqueta">

                <!-- Sessão 1  -->
                <div class="secao">
                    ZAZOU
                    <br>
                    <div style="font-size: 12px; max-width: 100%; overflow: hidden; text-overflow: ellipsis;">
                        {{ produto.nome }}
                        {{ produto.nomeDerivacao }}
                    </div>
                    
                    <div class="barcode">
                        <img style="width: 70%; max-height:11mm; min-height:9mm;" src="{{ barcode_src(produto.codigo) }}" alt="Código de barras">
                    <strong style="font-size: 10px;"> <br>
                        REF {{ produto.codigo }}
                    </strong>
                    </div>
                </div>

                <!-- Sessão 2 -->
                <div class="secao">
                    <div style="font-size: 12px; max-width: 100%; overflow: hidden; text-overflow: ellipsis;">
                        {{ produto.nome }}
                        {{ produto.nomeDerivacao }}
                        <br>
                        <strong> 
                            REF {{ produto.codigo }}
                        </strong>
                            
                        <div class="barcode">
                            <img style="width: 70%; max-height: 11mm; min-height:9mm;" src="{{ barcode_src(produto.codigo) }}" alt="Código de barras">
                        </div>
                    </div>
                </div>

                <!-- Sessão 3 -->
                <div class="secao" style="font-size: 12px;  overflow: hidden; text-overflow: ellipsis; text-align: center;">
                    {{ produto.nome }}
                    {{ produto.nomeDerivacao }}
                    -
                    R$ {{ produto.preco }}
                    <br>
                    REF {{ produto.codigo }}
                </div>

            </div>
        {% endfor %}
    {% endfor %}
</div>

</body>
</html>